

.field{
    padding-top: 100px;
    border: 1px solid crimson;
}

.field img{
    transition: rotate 0.3s ease-in;
    transform-origin: top right;
   
}

.field:hover img{
    rotate: -60deg;
}

.ball-1
{
    height: 50px;
    width: 50px;
    background: #abefaa;
    border-radius: 50%;
    position: relative;
    left: 535px;
    transition: transform 1s ease-out 0.3s;
}

.field:hover .ball-1{
    transform: translate(900px, -100px);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}