* {
    margin: 0px;
    padding: 0px;
}

@keyframes moveable {
    0% {
        background-color: rgb(153, 115, 65);
        top: 0;
        left: 0;
    }

    25% {
        background-color: yellow;
        top: 350px;
        
    }

    50% {
        background-color: #1c0d15;
        top: 0px;
        
        
    }
    75% {
        background-color: #2b1d25;
        top: 0;
        left: 550px;
    
    }



    100% {
        background-color: rgb(203, 127, 29);
        top: 300px;
        left: 300px;
      
    }

}

html {
    scroll-behavior: smooth;
}

body {
    z-index: -999;
    background-color: antiquewhite;
    margin: 0 10%;
}

.stage {
    margin-top: 100px;
    margin-bottom: 300px;
    height: 400px;
    width:600px;
    background: #76c9dd;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aquamarine;
    position: relative;
    animation: moveable 3s ease-in-out 1s infinite alternate;
    animation-play-state: running;
}