
.ellipse {
    width: 100px;
    height: 30px;
    border: 1px solid red;
    overflow: hidden;
    margin-bottom: 50px;
}

.ellipse p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}

.long-text {
    overflow: auto;
    width: 400px;
    height: 600px;
   
    border: 5px solid crimson;
}


.another {
    overflow: scroll;
    overflow-x: hidden;
    width: 500px;
    height: 500px;
    border: 10px dashed palevioletred;
}
.container{
    background-color: antiquewhite;
    margin: 10px 130px;
    display: flex;
    gap: 2%;
}

.main-box > div{
    background-color: rgb(185, 70, 181);
    height: 150px;
    width: 150px;
    border: 2px solid orange;
}

.main-box>div>.inner{
    background-color:lightskyblue;
    height: inherit;
    width: inherit;
    border: inherit;
}
.inner{
    transform: scale(.8) rotate(45deg);
}
.inner>p{
    font-size: larger;
    color:antiquewhite;
    padding-top: 4px;
    transform: rotate(-45deg);
}